rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: Insecure rules for development purposes.
    // These rules allow anyone to read and write to your database.
    // You MUST secure these rules before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
